ch.ethz.vis.dnsapi.netcenter.username={{ dns_api_username }}
ch.ethz.vis.dnsapi.netcenter.password={{ dns_api_password }}
ch.ethz.vis.dnsapi.netcenter.isgGroup={{ dns_api_isg_group }}
ch.ethz.vis.dnsapi.keyFilePath={{ dns_api_key_file }}
ch.ethz.vis.dnsapi.certFilePath={{ dns_api_cert_file }}
